{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
    {{ encore_entry_link_tags('table') }}
{% endblock %}

{% block title %}{{ 'stocks'| trans({'stocks': 2}) }}{% endblock %}

{% block body %}
    <h1>{{ 'stocks'| trans({'stocks': 2}) }}</h1>

    <div>
        <a href="{{ path('stock_new') }}" class="actionItem">{{ 'createNew' | trans }}</a>
        <a href="{{ path('stockoperate_import') }}" class="actionItem">{{ 'operationsbatchimport' | trans }}</a>
    </div>

    {% if stocks.getHasPrevPage() and stocks.getPage() > 0 %}
    <a href="{{ path('stock_list') }}?page={{ stocks.getPage()-1 }}" class="actionItem">{{ 'previousPage' | trans }}</a>
    {% else %}
    <span class="disabledItem">{{ 'previousPage' | trans }}</span>
    {% endif %}
    {% if stocks.getHasNextPage() %}
    <a href="{{ path('stock_list') }}?page={{ stocks.getPage()+1 }}" class="actionItem">{{ 'nextPage' | trans }}</a>
    {% else %}
    <span class="disabledItem">{{ 'nextPage' | trans }}</span>
    {% endif %}
    <table aria-describedby="listocks">
        <thead>
            <tr>
                <th scope="col">{{ 'code' | trans }}</th>
                <th scope="col">{{ 'exchange' | trans }}</th>
                <th scope="col">{{ 'name' | trans }}</th>
                <th scope="col">{{ 'price' | trans }} {{ currencySymbol }}</th>
                <th scope="col">{{ 'actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks.getCollection().toArray() %}
            <tr>
                <td><a href="{{ path('stock_update', {'id': stock.getId()}) }}" class="actionItem">{{ stock.getId() }}</a></td>
                <td>{{ stock.getExchange.getCode() }} - {{ stock.getExchange.getName() }}</td>
                <td>{{ stock.name }}</td>
                <td class="number">{{ stock.price.value }}</td>
                <td>
                    {{ include('stock/_delete_form.html.twig') }}
                    <a href="{{ path('stockoperate_new', {'type': 'purchase', 'stock': stock.getId()}) }}" class="actionItem">{{ 'acquire' | trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'noRecordsFound' | trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
